@model Kitakun.TagDiary.ViewModels.Models.ErrorViewModel
@{
    ViewData["Title"] = "О нет!";
}

<div class="text-center">
    <h1 class="text-danger">Ошибка.</h1>
    <h2 class="text-danger">Произошла ужасная ошибка :с</h2>
</div>

<p>@Model.ErrorText</p>