@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привет!</h1>
    <div>Вы попали на сайт-дневник-ежедневник <small>называйте как хотите</small></div>
    <div>Предполагается что здесь вы можете записывать какие-то события вашей жизни и :</div>
    <br/>
    <div>
        <ol style="text-align:left; margin:0 auto; width: 600px">
            <li>Фильтровать события по дате</li>
            <li>Добавлять теги на события</li>
            <li>Ограничивать блог по ссылке/паролю/видим всем</li>
            <li>Ограничивать каждую запись по паролю/ссылке/скрывать полностью от всех</li>
            <li>Записи с паролями кодируются и никто не сможет получить к ним доступ кроме вас</li>
        </ol>
    </div>
    <div>
        <a class="nav-link" asp-area="" asp-controller="SpaceOwner" asp-action="CreateNew">Создать свой дневник</a>
    </div>
</div>
