@model string
@{
    ViewData["Title"] = "NotFoundSpaceOwner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Не найдено</h1>

    <h2>По адресу <b>@Model</b> нет странички!</h2>
    <p>Возможно она удалена или скрыта настройками приватности</p>
</div>