/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f5f6fa;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


.tags-input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.tags-input .tag {
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    border-radius: .25rem;
    border: 2px solid #5f6368;
    margin: 5px;
}

.tags-input .tag .text {
    display: inline-block;
    vertical-align: sub;
}

.tags-input .tag .close {
    top: -3px;
    position: relative;
}

.tags-input .autocomplete {
    border: 2px solid #5f6368;
    border-radius: .25rem;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.125);
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.card {
    border-radius: .25rem;
    border: 0px;
    box-shadow: 0 0 1px rgba(240,242,247,0.1),0 6px 7px rgba(0,32,128,0.1);
}

.ql-container.ql-snow{
    background-color: #fff;
}