.panel-variant-white {
    border-radius: .25rem;
    border: 0px;
    box-shadow: 0 0 1px rgba(240, 242, 247, 0.1), 0 6px 7px rgba(0, 32, 128, 0.1);
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: white;
}