@model string
@{
    ViewData["Title"] = "MasterPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 class="text-center">Введите пароль:</h4>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <input type="password" class="form-control" name="passwrd" id="passwrd" />
        </div>

        <input type="submit" class="form-control btn btn-secondary" value="Войти" />
    }

    <br />

    @if (!string.IsNullOrEmpty(Model))
    {
        <div>
            <div class="alert alert-danger" role="alert">
                @Model
            </div>
        </div>
    }

</div>