@model Kitakun.TagDiary.Core.Domain.DiaryRecord;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.ShortDescription</h1>

<div>
    <pre>
        @Model.MarkdownText
    </pre>
</div>

